[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=victoriah
WorkingDirectory=/home/victoriah/sites/DOMAIN
EnvironmentFile=/home/victoriah/sites/DOMAIN/.env

ExecStart=/home/victoriah/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    mysite.wsgi:application

[Install]
WantedBy=multi-user.target